<%# 文章大纲 %>
<div class="inner profile-inner" id="n-toc">
    <ul class="post-toc-wrap" for="post-toc-trigger-btn" style="max-height:80vh;">
        <%- toc(page.content, {
                class: 'post-toc',
                list_number: false,
                style: 'max-height:80vh;'
            }) %>
    </ul>
</div>

<script>
    let toc = document.getElementById('n-toc');
    toc.parentElement.removeChild(toc);
    let profile = document.getElementById('profile');
    profile.appendChild(toc);
    toc._offsetTop = toc.offsetTop - 1;
    onscroll = function () {
        if (scrollY > toc._offsetTop) {
            toc.style.position = 'fixed';
            toc.style.top = '-30px';
            toc.style.width = profile.scrollWidth - 8 + 'px';
        } else {
            toc.style.top = '';
            toc.style.position = '';
            toc.style.width = '';
        }
    }
</script>